<!-- START THE FEATURETTES -->
<div class="mt-4">     

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">EKSTRAORDINÆR GENERALFORSAMLING  <span class="text-muted">15. APRIL 2021, kl. 19.30</span></h2>
            <p class="lead">MiM indbyder hermed til virtuel ekstraordinær generalforsamling</p>
        </div>
        <div class="col-md-5">
            <img src="~/img/post/kaffe214745502.png" height="250" />
        </div>
    </div>    

    <div class="row featurette mt-5">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Nye lærerkræfter er fundet</h2>
            <p class="lead">Godt nyt fra MiM</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/img/post/Skærmbillede 2015-11-20 kl. 16.50.11214717346.png" height="250" />
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Nyt fra MiM - Bemærk!!! <span class="text-muted">Tromme- og guitarundervisning udskudt</span></h2>
            <p class="lead">Sæsonstart og lærerudskiftning</p>
        </div>
        <div class="col-md-5">
            <img src="~/img/post/pexels-photo-995301214952557.jpg" height="250" />
        </div>
    </div>
   
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">MiM trykker PLAY igen!</h2>
            <p class="lead">Sommerferien nærmer sig - MiM er åben for nye tilmeldinger</p>
        </div>
        <div class="col-md-5">
            <img src="~/img/post/23190170215246560.jpg" height="250" />
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">MiM byder velkommen til ny klaverlærer</h2>
            <p class="lead">Mikkel Sonne Friis stopper som klaverlærer - nye kræfter er klar</p>
        </div>
        <div class="col-md-5">
            <img src="~/img/post/Daniel_Norstrøm215311960.jpg" height="250" />
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Julekoncert onsdag <span class="text-muted">18.12.2019</span></h2>
            <p class="lead">
                Juleroen sænker sig snart over musikskolen, så for at markere juleferien byder vi traditionen tro velkommen til julekoncert.
                I år er det dog udvidet fra kun at gælde klaver- og sangelever...
            </p>
        </div>
        <div class="col-md-5">
            <img src="~/img/post/nisse215338760.jpg" height="250" />
        </div>
    </div>

</div>
<!-- /END THE FEATURETTES -->