<!--<div class="position-sticky float-lg-right col-md-2 d-none d-xl-block mt-5 mr-5 ml-5">
    <div class="border">
        <div class="bg-light">
            <h4 class="fst-italic">Om</h4>
            <p class="mb-4">
                Vi vil støtte en aktiv og kreativ hverdag for børn og voksne med musikken i fokus.
                Musikundervisning for børn og voksne, hver for sig eller sammen. Undervisningen foregår hovedsageligt i lokaler på Malling skole.
            </p>
        </div>

        <div class="p_stickyPost mt-3">
            <h4 class="fst-italic ">Fritidspas - også en mulighed i Musik i Malling</h4>
            <p class="list-unstyled mb-2">
                Aarhus Kommune giver også i den kommende sæson giver mulighed for at få et fritidspas. Med et fritidspas i hånden kan du få dækket op til 1000 kr. i løbet af et år - det gælder også Musik i Malling.
                Tilbuddet om fritidspas gælder for børn i familier med en husstandsindkomst i 2018 til og med 196.918 kr.
                Enlige forsøgere kan yderligere fradrage kr. 60.801 i husstandens indkomst.
                Tilbuddet omfatter børn og unge i alderen 3 til og med 17 år.
            </p>
        </div>
    </div>
</div>-->

@* ----- View for Mobil ----- *@
<!--<div class="d-xl-none">
    <div class="border">
        <div class="bg-light p-3">
            <h4 class="fst-italic">Om</h4>
            <p class="mb-4">
                Vi vil støtte en aktiv og kreativ hverdag for børn og voksne med musikken i fokus.
                Musikundervisning for børn og voksne, hver for sig eller sammen. Undervisningen foregår hovedsageligt i lokaler på Malling skole.
            </p>
        </div>

        <div class="p_stickyPost mt-3 p-3">
            <h4 class="fst-italic ">Fritidspas - også en mulighed i Musik i Malling</h4>
            <p class="list-unstyled mb-2">
                Aarhus Kommune giver også i den kommende sæson giver mulighed for at få et fritidspas. Med et fritidspas i hånden kan du få dækket op til 1000 kr. i løbet af et år - det gælder også Musik i Malling.
                Tilbuddet om fritidspas gælder for børn i familier med en husstandsindkomst i 2018 til og med 196.918 kr.
                Enlige forsøgere kan yderligere fradrage kr. 60.801 i husstandens indkomst.
                Tilbuddet omfatter børn og unge i alderen 3 til og med 17 år.
            </p>
        </div>
    </div>
</div>-->




<!-- Portfolio Item Row -->
<div class="row mt-4"/>

<div class="col-md-7">
    @*<img class="img-fluid d-none d-sm-block" src="~/img/post/Testbillede.jpg" width="750px" height="500px" />*@
    <iframe width="100%" height="438" class="embed-responsive-item" src="https://www.youtube.com/embed/cMThrs1GWqc" allowfullscreen></iframe>
</div>

    <div class="col-md-5">
        <div class="container">
            <div >
                <h4 class="fst-italic">Om</h4>
                <p class="mb-4">
                    Vi vil støtte en aktiv og kreativ hverdag for børn og voksne med musikken i fokus.
                    Musikundervisning for børn og voksne, hver for sig eller sammen. Undervisningen foregår hovedsageligt i lokaler på Malling skole.
                </p>
            </div>
            <div class="p_stickyPost mt-3">
                <h4 class="fst-italic ">Fritidspas - også en mulighed i Musik i Malling</h4>
                <p class="list-unstyled mb-2">
                    Aarhus Kommune giver også i den kommende sæson giver mulighed for at få et fritidspas. Med et fritidspas i hånden kan du få dækket op til 1000 kr. i løbet af et år - det gælder også Musik i Malling.
                    Tilbuddet om fritidspas gælder for børn i familier med en husstandsindkomst i 2018 til og med 196.918 kr.
                    Enlige forsøgere kan yderligere fradrage kr. 60.801 i husstandens indkomst.
                    Tilbuddet omfatter børn og unge i alderen 3 til og med 17 år.
                </p>
            </div>
        </div>
</div>


<!-- Related Projects Row -->
<!--<div class="d-none d-sm-block">
    <h3 class="my-4">Undervisning</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

    </div>-->
    <!-- /.row -->
<!--</div>-->