<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Musik i Malling</title>
</head>

<body>
    <table width="70%" align="center">
        <tr>
            <td align="center" valign="top">
                <br>
                <br>
                <table>
                    <tr>
                        <td>
                            <div style="justify-content:center;">
                                <img src="https://www.musikimalling.dk/img/Template/LOGO.png">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width: 100%; align-content: center;">
                                <tr>
                                    <td>
                                        <img src="https://www.musikimalling.dk/img/Template/ChrisNisse.png" style="width: 300px;">
                                        <br />

                                        <p style="font-weight: bold;">
                                            Daglig leder - Chris Lykkegaard
                                        </p>
                                        <br />

                                    </td>
                                </tr>
                            </table>
                            <table>

                                <tr>
                                    <td>

                                        <div>
                                            <h3>Heeej {{BrugerBekreft}}!</h3> <br />
                                            <h3>
                                                Vi har registreret din tilmelding, og du vil blive<br />
                                                kontaktet så snart som muligt. Kh. Chris
                                            </h3> <br />
                                        </div>
                                        <br />

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br>
                <br>
            </td>
        </tr>
    </table>
</body>
</html>