<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Musik i Malling</title>
</head>

<body>
<table width="70%" align="center">
    <tr>
        <td align="center" valign="top">
            <br>
            <br>
            <table width="100%">
                <tr>
                    <td align="center">
                        <div>
                            <img style="width: auto; margin-bottom: 25px; margin-top: 10px;" src="https://www.musikimalling.dk/img/Template/LOGO.png">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
                        <div style="text-align: left;">

                        </div>
                        <table width="100%">
                            <tr>
                                <td align="center" valign="middle" sstyle="font-weight:bold; margin-top:40px;">
                                    <div>
                                        <h2>
                                            YO! Så Er Der En Ny Tilmelding!
                                        </h2>
                                        <img src="https://www.musikimalling.dk/img/Template/cartoonRock.png" style=" width: 300px; height:auto; margin-bottom: 10px;">

                                    </div>

                                </td>
                            </tr>
                        </table>

                        <table align="center">

                            <tr>
                                <td>

                                    <div style="text-align:left;">
                                        <h3>Att: {{OnskeLaere}}</h3>
                                        <h4>                                           
                                            
                                            {{BrugernavnLon}} på {{StudentAge}},år<br />
                                            Har Tilmeldt sig {{InstruLon}}-undervisning <br /><br />
                                            Her er {{BrugerFornavn}}'s oplysninger:
                                            <br />
                                            <br />
                                            Musikalsk erfaring: {{Experience}}<br />
                                            Email: {{StutentEmail}}<br />
                                            Telefonnummer: {{StutentPhone}}
                                        </h4>
                                        
                                        <h4>
                                            Besøg hjemmesiden https://musikimalling.dk/ og inkluder {{BrugerFornavn}}<br />
                                            på din liste over elever, hvis du er ansvarlig for at undervise i det instrument, som {{BrugerFornavn}} ønsker at lære.

                                        </h4>
                                        <br />
                                    </div>
                                    <br />
                                </td>
                            </tr>


                        </table>

                    </td>
                </tr>

            </table>
            <br>
            <br>
        </td>
    </tr>
</table>
</body>
</html>