@page
@model LogoutModel
@{
    ViewData["Title"] = "Log ud";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark" data-toggle="tooltip" data-placement="top" title="Tryk for at log ud"> log ud</button>
            </form>
        }
        else
        {
            <p>Du er logget ud</p>
        }
    }
</header>