@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Din kode er blevet ændret. Venligst <a asp-page="./Login">trykke her for at logge ind</a>.
</p>
