<div class="container text-lg-left shadow bg-white mt-2 p-lg-5">
    <h4 class="text-secondary font-weight-bold text-center">Praktisk</h4>

    <hr class="featurette-divider">
    <h4 class="text-secondary font-weight-bold">Eneundervisning, hold, eller band</h4>
    <p>Vælg mellem:</p>

    <ul>
        <li>eneundervisning hver uge</li>
        <li>hold på 2-4 elever</li>
    </ul>

    <p>
        Har du kun tid til undervisning hver anden uge, kan det også fungere som et “hold”, hvis vi kan finde to elever, som ønsker at dele undervisningen<br />
        på denne måde.<br /><br />

        Er du allerede med i et band, hvor I godt kunne tænke jer at sparre med og få inspiration fra en af MiMs undervisere er det også en mulighed.
    </p><br />

    <p>Husk at også, at <em><strong>voksne</strong></em> kan få undervisning hos Musik i Malling - og endda <em><strong>til samme pris</strong></em> som børnene.</p><br />

    <h4 class="text-secondary font-weight-bold">Hvornår?</h4>
    <p>
        Sæsonen består af 2 semestre, med start september og januar. Et semester består af 14 undervisningsgange.<br />
        Der undervises ikke på helligdage og i skolernes ferie.
    </p>

    <p>
        1. semester: Uge 36 til og med uge 51 = 14 undervisningsgange Uge 42 efterårsferie samt uge 52 juleferie undtaget.<br />
        2. semester: Uge 2 til og med uge 20 = 14 undervisningsgange Uge 7 vinterferie, helligdage samt uge 13 påskeferie undtaget.
    </p>

    <p>Lektionslængder: Enkeltundervisning 25 min. 2 elever 25 min. 3 elever 40 min. 4 elever 50 min. Sammenspil og band 55 min.</p>

    <h4 class="text-secondary font-weight-bold">Priser</h4>
    <p>
        Holdundervisning: 2 - 4 elever: <strong>2100,- </strong>per sæson <strong>( 2 x 1050,-)</strong><br />
        Enkeltundervisning: <strong>3600,-</strong> per sæson <strong>(to rater á 1800,-)</strong><br />
        Sammenspil og band: <strong>2100,-</strong> per sæson<strong> (to rater á 1050,-)</strong><br />
        NB: Priserne er i modsætning til mange andre musikskoler ens for børn og voksne.
    </p>

    <p>Til foreningens drift, skal der desuden indbetales årligt kontingent på <strong>kr.100,-</strong> når det er bekræftet at du har fået plads hos en underviser.</p>

    <h4 class="text-secondary font-weight-bold">Betaling</h4>
    <p>
        Der betales i to rater direkte til underviseren. 1. rate betales til senest 3. mødegang. 2. rate betales i uge 2.<br />
        Kontingent til foreningen indbetales på <strong>reg. nr. 5479 / konto nr. 0005969848 </strong> - husk at skrive elevens navn på indbetalingen.
    </p>

    <h4 class="text-secondary font-weight-bold">Tilmelding</h4>
    <p><em><strong><u> <a class="text-dark" href="/identity/account/register">Tilmelding kan udfyldes her</a></u></strong></em> - Du vil efterfølgende pr. telefon eller mail få at vide, hvor og hvornår du skal gå til musik.</p>

    <h4 class="text-secondary">Gentilmelding</h4>
    <p>
        Er du allerede elev i Musikimalling og ønsker at fortsætte behøver du ikke at tilmelde dig igen. Du skal blot fortælle din nuværende underviser,<br />
        eller Chris Lykkegaard <em>(Daglig leder)</em>, at du gerne vil fortsætte, og hvilken lærer, du ønsker til næste sæson.<br />
        Har du spørgsmål til tilmeldingen, kan du sende en mail til <strong>info@musikimalling.dk </strong> - Vi svarer indenfor få dage.
    </p>

    <h4 class="text-secondary font-weight-bold">Afbud</h4>
    <p>
        Elevafbud: Ved fravær skal eleven melde afbud til underviseren. Disse lektioner erstattes ikke.<br />
        Lærerafbud: Er underviseren fraværende, underrettes eleverne pr. telefon, eller mail. Disse lektioner erstattes med tilsvarende lektioner på et <br />
        senere tidspunkt. Skulle dette vise sig umuligt, tilbagebetales der for forsømte lektioner ved semesterets afslutning.
    </p>

    <h4 class="text-secondary font-weight-bold">Udmeldelse</h4>
    <p>
        Når du begynder i MiM har du mulighed for at prøve undervisningen af de første to gange. Hvis du fortryder, skal du udmelde dig ved<br />
        at henvende dig til din lærer inden tredje lektion. I så fald betaler du kun for de to undervisningsgange, du har deltaget i. Fra og med tredje<br />
        lektion er indmeldelsen bindende for det første semester. Ønsker du ikke at fortsætte i andet semester skal udmeldelse ske inden første undervisningsgang<br />
        efter nytår (normalt i uge 2). Er udmeldelse ikke sket inden første undervisningsgang efter nytår, er indmeldelsen således bindende resten af sæsonen.
    </p>

    <h4 class="text-secondary font-weight-bold">Ekstra gratis tilbud i løbet af sæsonen</h4>
    <p>
        Udover vores tilbud om undervisning, er der tradition for at tilbyde flere gratis aktiviteter i løbet af sæsonen, så eleverne får mulighed<br />
        for flere musikoplevelser sammen med andre.
    </p>

    <h4 class="text-secondary font-weight-bold">Eksempler på tilbud og aktiviteter:</h4>
    <ul>
        <li>Rytmeworkshop</li>
        <li>Sammenspil for begyndere</li>
        <li>Malling Band</li>
        <li>Trommeclinic</li>
        <li>Pop, rock og blues workshop</li>
        <li>Sang og klaver i skøn forening</li>
        <li>Julekoncert</li>
        <li>Afsluttende workshop</li>
    </ul>
</div>